.categories {
    display: grid;

    .category {
        background-color: var(--color-default-background);
        color: var(--color-default-foreground);

        display: grid;
        gap: 1rem;

        padding-block: 4rem;

        .title {
            display: flex;
            align-items: center;
            gap: 1rem;

            text-transform: uppercase;
        }

        .sample-works {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
            gap: 2rem;

            .sample-work {
                display: grid;
            }
        }
    }
}
