table {
    --table-color: hsl(200deg 60% 25%);
    --border: 0.1rem solid var(--table-color);

    border-collapse: collapse;

    thead,
    tbody {
    }

    thead {
        background-color: var(--table-color);
        color: var(--color-gray-98);

        position: sticky;
        inset-block-start: 0;

        tr {
            th {
                padding: 1rem;
            }
        }
    }

    tbody {
        tr {
            &:not(:last-of-type) {
                border-block-end: var(--border);
            }

            td {
                padding: 1rem;

                .category,
                .difficulty {
                    font-size: 0.75em;
                    line-height: 1;
                    text-transform: uppercase;
                }

                .category {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.2rem;

                    &::before,
                    &::after {
                        content: var(--emoji-category);

                        font-family: "Noto Color Emoji", sans-serif;
                    }
                }

                .difficulty {
                    background-color: var(--color-difficulty-opposite);
                    color: var(--color-difficulty);

                    width: fit-content;

                    margin-inline: auto;
                    padding: 0.5em 0.75em;

                    border-radius: 999rem;
                }
            }
        }
    }
}
